body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tit-cabeçalho{
    text-align: center;
}
article {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
article:hover{
    transform: rotate(360deg);
}